@import '../../../styles/settings.scss';
@import "../../../styles/global.scss";

.root {
  background-color: $color-main;
  font-size: 1.2em;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  margin: auto 0;
  color: $color-light;
  border: none;

  &:hover {
    color: $color-hover;
    cursor: pointer;
  }
}
