@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: right;
  display: flex;
  width: 100%;
}
.hero{
  .quote {
    font-size: 1.8em;
    font-family: $font-quote;
  }
}

@media screen and (max-width: 768px) {
  .root{
    margin-top: 10px;

  }
  .hero{
    .quote {
      font-size: 1.2em;
    }
  }
}

