@import 'settings.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Sriracha&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

.asterisk {
  color: $color-red;
  font-size: $productTable-size;
}

.statute {
  color: $color-main;
  font-weight: bolder;
}

.align{
  align-items: center;
}

.main {
  background-color: $color-light;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 10px;
}

.headTable {
  display: flex;
  flex-direction: row;
  font-size: $headTable-size;
  text-align: center;
  border-bottom: 1px solid $color-footer;

  .productName {
    width: 40%;
  }
  .quantity {
    width: 15%;
  }
  .price {
    width: 15%;
  }
  .sum {
    width: 20%;
  }
  .delete {
    width: 15%;
  }
}


