/* Variables */

$color-dark: #333;
$color-light: #fff;
$color-main: #badc58;
$color-hover: #ffd700;

$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;

$font-header: 'Oswald', sans-serif;
$font-text: 'Lato', sans-serif;
$font-quote: 'Sriracha', cursive;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all .3s;
$radius: 4px;

$base-size: 12px;
