@import "../../../styles/settings.scss";
@import "../../../styles/global.scss";

.root {
  background-image: url("/images/background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  object-fit: contain;
  color: $color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}
